
html,body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: block;

}

form{
    display: block;
}


body {
    background-image: url('https://lukakva.github.io/NyanPong/resources/background.jpg');
}
html, head {
    background-image: url('https://lukakva.github.io/NyanPong/resources/background.jpg');

}


.goalkeeper {
    width: 20px;
    height: 30%;
    position: relative;
    top: 35%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.left-goalkeeper {
    float: left;
    margin-left: 5px;
}

.right-goalkeeper {
    float: right;
    margin-right: 5px;
}

.scores {
    position: absolute;
    top: 5px;
    left: 12.5%;
    width: 75%;
    height: 48px;
    overflow: hidden;
}

.left-score-overflow,.right-score-overflow {
    background: -webkit-linear-gradient(rgb(237, 31, 36) 0%, rgb(237, 31, 36) 16%, rgb(248, 152, 29) 16%, rgb(248, 152, 29) 33%, rgb(243, 236, 25) 33%, rgb(243, 236, 25) 50%, rgb(113, 191, 68) 50%, rgb(113, 191, 68) 67%, rgb(71, 144, 205) 67%, rgb(71, 144, 205) 83%, rgb(94, 87, 166) 83%, rgb(94, 87, 166) 100%);
    background: -o-linear-gradient(rgb(237, 31, 36) 0%, rgb(237, 31, 36) 16%, rgb(248, 152, 29) 16%, rgb(248, 152, 29) 33%, rgb(243, 236, 25) 33%, rgb(243, 236, 25) 50%, rgb(113, 191, 68) 50%, rgb(113, 191, 68) 67%, rgb(71, 144, 205) 67%, rgb(71, 144, 205) 83%, rgb(94, 87, 166) 83%, rgb(94, 87, 166) 100%);
    background: linear-gradient(rgb(237, 31, 36) 0%, rgb(237, 31, 36) 16%, rgb(248, 152, 29) 16%, rgb(248, 152, 29) 33%, rgb(243, 236, 25) 33%, rgb(243, 236, 25) 50%, rgb(113, 191, 68) 50%, rgb(113, 191, 68) 67%, rgb(71, 144, 205) 67%, rgb(71, 144, 205) 83%, rgb(94, 87, 166) 83%, rgb(94, 87, 166) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.left-score, .right-score {
    font-size: 50px;
    font-weight: bold;
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
    font-family: monospace;
    position: relative;
    color: purple;
    text-shadow:
            1px 0 pink,
            0 1px pink,
            -1px 0 pink,
            0 -1px pink;
}

.scores div:first-child {
    position: relative;
    display: inline-block;
}

.right-score {
    float: right;
}

#score {
    display: none;
}

.pause-menu, .start-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
}

.config {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    line-height: 30px;
}

.start-menu {
    display: block;
}

.config label {
    font-size: 15px;
}

.rainbow {
    position: absolute;
    background: -webkit-linear-gradient(rgba(237, 31, 36, 0.5) 0%, rgba(237, 31, 36, 0.5) 16%, rgba(248, 152, 29, 0.5) 16%, rgba(248, 152, 29, 0.5) 33%, rgba(243, 236, 25, 0.5) 33%, rgba(243, 236, 25, 0.5) 50%, rgba(113, 191, 68, 0.5) 50%, rgba(113, 191, 68, 0.5) 67%, rgba(71, 144, 205, 0.5) 67%, rgba(71, 144, 205, 0.5) 83%, rgba(94, 87, 166, 0.5) 83%, rgba(94, 87, 166, 0.5) 100%);
    background: -o-linear-gradient(rgba(237, 31, 36, 0.5) 0%, rgba(237, 31, 36, 0.5) 16%, rgba(248, 152, 29, 0.5) 16%, rgba(248, 152, 29, 0.5) 33%, rgba(243, 236, 25, 0.5) 33%, rgba(243, 236, 25, 0.5) 50%, rgba(113, 191, 68, 0.5) 50%, rgba(113, 191, 68, 0.5) 67%, rgba(71, 144, 205, 0.5) 67%, rgba(71, 144, 205, 0.5) 83%, rgba(94, 87, 166, 0.5) 83%, rgba(94, 87, 166, 0.5) 100%);
    background: linear-gradient(rgba(237, 31, 36, 0.5) 0%, rgba(237, 31, 36, 0.5) 16%, rgba(248, 152, 29, 0.5) 16%, rgba(248, 152, 29, 0.5) 33%, rgba(243, 236, 25, 0.5) 33%, rgba(243, 236, 25, 0.5) 50%, rgba(113, 191, 68, 0.5) 50%, rgba(113, 191, 68, 0.5) 67%, rgba(71, 144, 205, 0.5) 67%, rgba(71, 144, 205, 0.5) 83%, rgba(94, 87, 166, 0.5) 83%, rgba(94, 87, 166, 0.5) 100%);
    z-index: 0;
}


.container {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.player-button, .player-level, .player-got-it {
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: white;
    background: darkred;
    border: 5px solid rgba(255, 255, 0, 0.5);
    display: inline-block;
    font-family: sans-serif;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

