body {
    background: #2c3e50;
    font-family: sans-serif;
}

/*TOP SECT*/
.pointsDisplay {
    padding: 10px;
    text-align: right;
    font-weight: bold;
    color: #ecf0f1;
}

.pointsDisplay section {
    padding: 10px;
}

#restart {
    border: none;
    background: #34495e;
    color: #ecf0f1;
    padding: 10px;
    border-radius: 20px;
    float: left;
    transition: all 0.1s ease-in;
}

#restart:hover {
    cursor: pointer;
    background: #16a085;
}

#restart:focus {
    outline: none;
}

/*TRIVIA BOX*/
.category {
    position: relative;
    margin: 75px auto 0 auto;
    padding: 15px;
    max-width: 500px;
    color: #2c3e50;
    font-size: 18px;
    text-align: center;
    background: rgba(255,255,255,0.2);
    border-radius: 10px 10px 0 0;
}

.wrapper {
    margin: 0 auto;
    padding: 15px;
    background: #34495e;
    max-width: 500px;
    min-height: 100px;
    border-radius: 3px;
    overflow: auto;
}

#questionNum {
    position: absolute;
    left: 10px;
}

#question {
    color: #ecf0f1;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0
}

#answers {
    list-style: none;
    margin: 0;
    padding: 0;
}

#answers li {
    float: left;
    background: #ecf0f1;
    color: #333;
    font-weight: 600;
    padding: 10px;
    width: 45%;
    margin: 10px 2.5%;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
}

#answers li:hover {
    transform: scale(1.02);
    background: #16a085;
    color: #ecf0f1;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {

    #answers li {
        float: none;
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}